.password-gate {
  display: flex;
    flex-direction: column;
  text-align: center;
  width: 100%;
  gap: var(--spacing-xl);
}


.password-gate-image {
  max-width: 100%;
  height: auto;
  border-radius: 1.5rem;
}

.password-form {
  display: flex;
  justify-content: center;
  align-items: center;

}

.password-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.password-input {
  flex: 1; /* Make the input take up available space */
  padding: var(--spacing-lg) var(--spacing-xl);
  border-radius: var(--radius-full);
  border: 2px solid var(--surface-1); /* Restored original border */
  font-size: var(--font-size-md); /* Restored original font size */
  color: var(--textPrimary); /* Restored original text color */
  background-color: var(--surface-1); /* Restored original background color */
}

.password-input:focus {
  outline: none;
  /* border-color: var(--buttonAccent); /* Restored focus border color */
  /* box-shadow: 0 0 0 2px var(--buttonAccent); /* Restored focus shadow */
}

.password-caption {
  position: absolute;
  right: 1rem;
  font-size: var(--font-size-xs);
  pointer-events: none; /* Prevent interaction with the caption */
  padding-right: var(--spacing-xs);
}

.password-caption.error {
  color: var(--error); /* Change caption color to red for errors */
}

.icon-View_hide {
  position: absolute;
  right: 0.5rem;
  color: #757575;
  font-size: 1rem;
  cursor: pointer;
}

.small-text {

  font-size: var(--font-size-xs); /* Use the small font size from primitives.css */
  color: var(--textSecondary);
}

.small-text a {
  color: var(--textNeutralPrimary); /* Use the primary color from primitives.css */
  font-weight: 500;
  text-decoration: none;
}

.small-text a:hover {
  text-decoration: underline;
}