.project-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-lg); /* Use spacing token */
  padding: var(--spacing-xl); /* Use spacing token */
  max-width: 100%;
}

.project-title {
  font-size: var(--font-size-xl); /* Use font size token */
  font-weight: 600;
  color: var(--textPrimarySection); /* Use text color token */
}

.image-container {
  width: 100%;
  max-width: 1280px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: var(--radius-lg); /* Use border-radius token */
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-md); /* Use spacing token */
}

.nav-button {
  color: var(--textNeutralPrimary);
  font=size: var(--font-size-md); /* Use font size token */
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  outline: none;
}

.nav-button:hover {
  color: var(--textSecondary); /* Use button text color token */
  outline: none;
}

.image-count {
  font-size: var(--font-size-sm); /* Use font size token */
  color: var(--textSecondary); /* Use text color token */
  width: 4rem; /* Set a fixed width */
  text-align: center; /* Center the text within the span */
  display: inline-block; /* Ensure the width is respected */
}

/* Close Button */
.close-button {
  position: absolute;
  top: var(--spacing-xl); /* Adjust spacing as needed */
  right: var(--spacing-4xl); /* Adjust spacing as needed */
  font-size: var(--font-size-lg); /* Use a larger font size for the "X" */
  color: var(--textNeutralPrimary); /* Use primary text color */
  background: none;
  font-weight: 300;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
  outline: none; /* Remove default focus outline */
}

.close-button:hover {
  color: var(--textSecondary); /* Change color on hover */
}

.close-button:focus {
  outline: none; /* Remove focus ring on close button */
}

.image-container.visible {
  opacity: 1;
}

.keyboard-instructions {
  font-size: var(--font-size-sm); /* Use font size token */
  color: var(--textSecondary); /* Use text color token */
  text-align: center;
}

/* Adjust styles for smaller viewport heights */
@media (max-height: 800px) {
  .image-container {
    max-height: 80vh; /* Limit height to 60% of the viewport height */
    margin-top: var(--spacing-lg); /* Add space from the top */
  }

  .project-image {
    object-fit: contain; /* Ensure the image scales properly */
  }
}